:root {
     --slate: #434455; /*color body text*/
     --navyblue: #2E2F42; /*color title mail*/
     --iris: #4D5AE5; /*color logo*/
     --white: #FFF; /*color section1*/
     --cloud: #F4F4FD; /*color section3*/
     --ocean: #404BBF; /*color  menu hover focus*/
     --slate: #434455; /*color text address*/

}

/* Body style */
.container {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.32px;

    max-width: 1440px;
    max-height: 3300px;
    background-color: #FFF;

    color: var(--slate);
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

.logo {
    color: var(--iris);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logo-half2 {
    color: var(--navyblue);
}

.logo-footer {
    color: var(--iris);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-halftoot{
    color: var(--cloud);
}

.nav-menu:link {
    color: var(--navyblue);
    font-weight: 500;
}

.nav-menu:hover, .nav-menu:focus {
    color: var(--ocean); 
}

.nav-address:link {
    color: var(--slate);
    font-style: normal;
}

.nav-address:hover, .nav-address:focus {
    color: var(--ocean);
}

.title-main {
    background: var(--navyblue);
    color: var(--white);
    text-align: center;
    /* Header 1 */
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 1.12px;
}

.title-subtitle {
    color: var(--navyblue);
    text-align: center;
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.title {
    color: var(--navyblue);
    text-align: center;
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.4px;
}

.button {
    color: var(--white);
    /* Button Text */
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background-color: var(--iris);
    cursor: pointer;
}

.button:hover, .button:focus {
    background-color: var(--ocean);
}

.section-main {
    background: var(--navyblue);
}
/* для чого дублювати характеристики які наслідуються з основного контейнеру? */
.main-text {
    color: inherit;
    font-size: 16px;
}

.section-our_team {
    background: var(--cloud);
}

.image {background-color: #FFFFFF;}

.footer {
    background-color: var(--navyblue);
}

.footer-text {
    color: var(--cloud);
}